<form class="form-horizontal" name="formUserUpdate" ng-submit="vm.updateUser()" novalidate>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <h2 class="col-sm-offset-1 col-sm-4">{{vm.title}}</h2>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="id">ID</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" name="id" id="id" readonly="" ng-model="vm.formUpdateUser.id" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="username">Username</label>
                    <div class="col-sm-4" ng-class="{'has-error': formUserUpdate.username.$touched && formUserUpdate.username.$invalid}">
                        <input type="text" class="form-control" placeholder="username" name="username" id="username" ng-model="vm.formUpdateUser.username" required readonly>
                    </div>
                </div>
                <div class="form-group hidden">
                    <label for="password" class="col-sm-2 control-label">Password</label>
                    <div class="col-sm-4" ng-class="{'has-error': formUserUpdate.password.$touched && formUserUpdate.password.$invalid}">
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password" ng-model="vm.formUpdateUser.password" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="name">Name</label>
                    <div class="col-sm-4" ng-class="{'has-error': formUserUpdate.name.$touched && formUserUpdate.name.$invalid}">
                        <input type="text" class="form-control" placeholder="Name" name="name" id="name" ng-model="vm.formUpdateUser.name" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-4" ng-class="{'has-error': formUserUpdate.email.$touched && formUserUpdate.email.$invalid}">
                        <input type="email" class="form-control" id="email" name="email" placeholder="maintenance@fujiseat.com" ng-model="vm.formUpdateUser.email">
                    </div>
                </div>
                <div class="form-group">
                      <label class="col-sm-2 control-label" for="roleId">Role</label>
                      <div class="col-sm-4" ng-class="{'has-error': vm.formUserAdd.roleId.$touched && vm.formUserAdd.roleId.$invalid}">
                            <ui-select name="roleId" id="roleId" ng-model="vm.formUpdateUser.idMRole" required on-select="vm.changeRole($model)">
                                  <ui-select-match>{{$select.selected.roleName}}</ui-select-match>
                                  <ui-select-choices repeat="item.id as item in vm.roles | filter: $select.search">
                                        <div ng-bind-html="item.roleName | highlight: $select.search"></div>
                                  </ui-select-choices>
                            </ui-select>
                      </div>
                </div>
                <div class="form-group">
                      <label class="col-sm-2 control-label" for="groupId">Group</label>
                      <div class="col-sm-4" ng-class="{'has-error': (vm.formUserAdd.groupId.$touched && vm.formUserAdd.groupId.$invalid)}">
                            <ui-select name="groupId" id="groupId" ng-model="vm.formUpdateUser.idMGroup" required ng-disabled="vm.groups.length < 1">
                                  <ui-select-match>{{$select.selected.groupName}}</ui-select-match>
                                  <ui-select-choices repeat="item.id as item in vm.groups | filter: $select.search">
                                        <div ng-bind-html="item.groupName | highlight: $select.search"></div>
                                  </ui-select-choices>
                            </ui-select>
                      </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="lastUpdate">Last Update</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" name="lastUpdate" id="lastUpdate" readonly="" ng-model="vm.formUpdateUser.lastUpdate">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="lastUser">Last User</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" name="lastUser" id="lastUser" readonly="" ng-model="vm.formUpdateUser.lastUser">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="createDate">Create Date</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" name="createDate" id="createDate" readonly="" ng-model="vm.formUpdateUser.createDate">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="createUser">Create User</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" name="createUser" id="createUser" readonly="" ng-model="vm.formUpdateUser.createUser">
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-2">
                        <button type="submit" class="btn btn-primary btn-lg" ng-disabled="formUserUpdate.$invalid">SUBMIT</button>
                        <button type="button" class="btn btn-warning btn-lg" ng-click="vm.goBack()">BACK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
