<form class="form-horizontal" name="formGroupUpdate" ng-submit="vm.updateGroup()" novalidate>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
              
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="id">ID</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" name="id" id="id" readonly="" ng-model="vm.formUpdateGroup.id" required>
                    </div>
                </div>
                <div class="form-group">
                      <label class="col-sm-2 control-label" for="roleId">Role</label>
                      <div class="col-sm-4" ng-class="{'has-error': vm.formUserAdd.roleId.$touched && vm.formUserAdd.roleId.$invalid}">
                            <ui-select name="roleId" id="roleId" ng-model="vm.formUpdateGroup.idMRole" required>
                                  <ui-select-match placeholder="Role">{{$select.selected.roleName}}</ui-select-match>
                                  <ui-select-choices repeat="item.id as item in vm.roles | filter: $select.search">
                                        <div ng-bind-html="item.roleName | highlight: $select.search"></div>
                                  </ui-select-choices>
                            </ui-select>
                      </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="name">Group Name</label>
                    <div class="col-sm-4" ng-class="{'has-error': formGroupUpdate.groupName.$touched && formGroupUpdate.groupName.$invalid}">
                        <input type="text" class="form-control" placeholder="group Name" name="groupName" id="groupName" ng-model="vm.formUpdateGroup.groupName" required="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="lastUpdate">Last Update</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" name="lastUpdate" id="lastUpdate" readonly="" ng-model="vm.formUpdateGroup.lastUpdate">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="lastUser">Last User</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" name="lastUser" id="lastUser" readonly="" ng-model="vm.formUpdateGroup.lastUser">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="createDate">Create Date</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" name="createDate" id="createDate" readonly="" ng-model="vm.formUpdateGroup.createDate">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="createUser">Create User</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" name="createUser" id="createUser" readonly="" ng-model="vm.formUpdateGroup.createUser">
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-2">
                        <button type="submit" class="btn btn-primary btn-lg" ng-disabled="formGroupUpdate.$invalid">SUBMIT</button>
                        <!--<button type="button" class="btn btn-danger btn-lg">CANCEL</button>-->
                        <button type="button" class="btn btn-warning btn-lg" ng-click="vm.goBack()">BACK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
